<!-- https://element.eleme.io/1.4/#/en-US/component/input-number -->
<!-- http://192.168.1.42/reports/124 -->
<div>
  <div class="fflex" style="align-items: normal;">
    <card style="flex: 1" class="mr15" title="Settings" subtitle="Foreground objects extraction options">

      <div class="mt15 mb10">
        <sly-field title="Choose project">
          <el-select v-model="state.project" filterable>
            <el-option
              v-for="item in data.projects"
              :key="item.value"
              :label="`${item.name} (${data.projectsImagesCnt[item.id]} images)`"
              :value="item.count">
            </el-option>
          </el-select>
        </sly-field>
      </div>

      <!-- TODO: calc value on slider change -->
      <!-- <script type="text/javascript">
      //<![CDATA[
      function multiplyBy()
      {
        percent = $state.samplePercent;
        num2 = document.getElementById("secondNumber").value;
        document.getElementById("result").innerHTML = num1 * num2;
      }
      //]]>
      </script> -->

      <div class="mt15 mb10">
        <sly-field class="mt15 mb10" title="Apply to sample (%)" :description="`${data.projects[state.project].name} Persent % of images that should be processed`"> 
          <!-- <el-input-number :disabled="!state.sampleFlag" v-model="state.samplePercent" :step="0.5" :min="0.1" :max="100"></el-input-number> -->
          <el-slider class="ml10" :disabled="!state.sampleFlag" :min="0.1" :max="100" :step="0.5" v-model="state.samplePercent" show-input> </el-slider>
          <!-- TODO: показать при изменении ползунка сколько картинок будет обработано -->
          <el-checkbox slot="title" v-model="state.sampleFlag"></el-checkbox>
        </sly-field>
      </div>

      <div class="mt15 mb10">
        <sly-field class="mt15 mb10" title="Alpha channel threshold" :description="`0 means fully transparent, 255  - no transparency. Keep all pixels with transparency >= ${state.alphaThreshold}`">
          <el-slider class="ml10"
            :min="0"
            :max="255"
            v-model="state.alphaThreshold"
            show-input>
          </el-slider>
        </sly-field>
      </div>

      <hr/>

      <hr style="border-top: 1px solid red;"/>

      <div class="mt15 mb10">
        <sly-field class="mt15 mb10" 
          title="Object area threshold (%)" 
          :description="`Remove all objects with area <= ${state.areaThreshold} %`">
          <el-slider class="ml10"
            :min="0"
            :max="100"
            v-model="state.areaThreshold"
            show-input>
          </el-slider>
        </sly-field>
      </div>

      <div class="mt15 mb10">
        <sly-field class="mt15 mb10" title="Maximum number of objects per image" description="Limit how many foregrounds should be extracted. Foregrounds areas are sorted in descending order">
          <el-input-number v-model="state.maxNumObjects" :step="1" :min="1"></el-input-number>
        </sly-field>
      </div>

      <!-- TODO: elements in a row-->

      
      <sly-field class="mt15 mb10" title="Foreground class" description="Class settings for foreground objects">
        <div class="fflex">
          <el-input class="mr15" style="" placeholder="Class name" v-model="state.className"></el-input>
          <el-select class="mr15" v-model="state.classShape" filterable>
            <el-option
              v-for="item in data.fgPossibleShapes"
              :key="item.value"
              :label="item.name"
              :value="item.value">
            </el-option>
          </el-select>  
          <el-color-picker style="width: 100px;" v-model="state.classColor" color-format="hex"></el-color-picker>
        </div>
      </sly-field>
        

      <!-- <div class="mt15 mb10">
        
          <el-row :gutter="20">
            <el-col :span="10">
              
            </el-col>
            <el-col :span="10">
              
              
            </el-col>
            <el-col :span="4"></el-col>
          </el-row>
        </sly-field>
      </div> -->

      <div class="mt15">
        <el-tooltip class="item" effect="dark" content="Start extraction process" placement="top-start">
          <el-button type="primary" size="small" @click="command('/workdir/scr/my_script.py')">Apply</el-button>
        </el-tooltip>
        
        <!-- TODO:
        не работает ${data.projects[state.project].name - всегда одно и тоже значение 
        как задисейблить кнопку если не выбран проект + 
        как показать диалог и не перетереть значение
        -->

        <el-tooltip class="item" effect="dark" :content="`Remove annotation from project ${data.projects[state.project].name}`" placement="top-start">
          <el-button type="danger" size="small">Reset</el-button>
        </el-tooltip>
      </div>
    </card>
    <card 
      style="flex: 1"
      title="Test on random image" 
      :subtitle="`Apply settings to a random image from project ${data.projects[state.project].name}`">
      <el-button type="primary" class="mb15" size="small" @click="command('/workdir/scr/test_random.py')">Test</el-button>
      <sly-gallery height="450px" :content="data.gallery"></sly-gallery>
    </card>
  </div>
  <card class="mt15" style="align-items: stretch;">
    <el-progress :percentage="70"></el-progress>
  </card>
  <card class="mt15"
    title="Processed images" 
    subtitle="Foreground objects stats per image">
    <sly-table :content="data.table"></sly-table>
  </card>

  <el-collapse class="mt15" v-model="state.logsOpened">
    <el-collapse-item title="Application logs" name="1">
      <sly-logs :task-id="data.taskId"></sly-logs>
    </el-collapse-item>
  </el-collapse>

</div>